.posts-container {
  text-align: center;
}

.posts-container .posts-list {
  list-style: none;
}

.posts-container .posts-list li {
  margin: 10px;
  padding: 10px;

  border: 1px solid rgb(125, 125, 125);
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* slow on webkit, improve performance */
  box-shadow: none !important;
}

.posts-container .posts-list li.loading {
  width: 80%;
}

.posts-container .posts-list li.loading .header p, .replace-content, .posts-container .posts-list li.loading .footer span, .posts-container .posts-list li.loading .footer a {
  background-color: rgb(125, 125, 125);
  background-color: rgba(125, 125, 125, 0.1);
  color: transparent;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
}

.replace-content {
  height: 300px;
  width: 50%;
  margin: 0 auto;
}

.posts-container .posts-list li .post-meta {
  margin: 5px 15px;
  text-align: left;
  color: #999;
}

.posts-container .posts-list li .post-meta span, .posts-container .posts-list li .post-meta a {
  font-size: 12px;
  color: #999;
}
.posts-container .posts-list li .post-meta a:hover {
  text-decoration: underline;
}

.posts-container .posts-list li .post-meta .timestamp {
  float: right;
  margin-top: 4px;
}

.posts-container .posts-list video {
  max-width: 100%;
  height: auto;
}
