<template id="post-image">
  <li>
    <img src="" />
  </li>
</template>

<template id="post-video">
  <li>
    <video src="" controls/>
  </li>
</template>

<div class="posts-container">

  <div class="">

    <ul class="posts-list"></ul>

  </div>

</div>
