<template id="post-image">
  <li class="th radius">
    <img src="" />
  </li>
</template>

<template id="post-video">
  <li class="th radius">
    <video src="" controls/>
  </li>
</template>

<template id="post-header">
  <div class="header">
    <p class="caption">
      <a href="" target="_blank"></a>
    </p>
  </div>
</template>

<template id="post-footer">
  <div class="footer">
    <p class="post-meta">
      <span class="likes"><span></span> likes</span> - <span class="comments"><span></span> comments</span>
      <a class="timestamp" href="" target="_blank">posted <span></span></a>
    </p>
  </div>
</template>

<div class="posts-container">

  <ul class="posts-list"></ul>

</div>
