<template id="post">
  <li class="th radius loading">
    <div class="header">
      <p class="caption">
        <a href="" target="_blank"></a>
      </p>
    </div>
    <div class="replace-content" ></div>
    <div class="footer">
      <p class="post-meta">
        <span class="likes"><span></span> likes</span> - <span class="comments"><span></span> comments</span>
        <a class="timestamp" href="" target="_blank">posted <span></span></a>
      </p>
    </div>
  </li>
</template>

<div class="posts-container">

  <ul class="posts-list"></ul>

</div>
