<!doctype>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Guillaume Royer" />

  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>9gag Instagram posts</title>

  <!-- bower:css -->
  <link rel="stylesheet" href="../vendor/foundation/css/foundation.css" />
  <link rel="stylesheet" href="../vendor/normalize.css/normalize.css" />
  <!-- endbower -->

  <link rel="stylesheet" type="text/css" href="/features/common/assets/common.css"/>
  <link rel="stylesheet" type="text/css" href="/features/posts/assets/posts.css"/>

</head>
<body>

  <div class="contain-to-grid sticky fixed">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">I9gag</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown sort-dropdown">
            <a href="#">Sort content</a>
            <ul class="dropdown">
              <li class="active"><a class="sort" href="#date">By date</a></li>
              <li><a class="sort" href="#likes">By likes</a></li>
              <li><a class="sort" href="#comments">By comments</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="container row">
    <div class="large-12 columns">
      <%- body %>
    </div>
  </div>

  <!-- bower:js -->
  <script src="../vendor/modernizr/modernizr.js"></script>
  <script src="../vendor/jquery/dist/jquery.js"></script>
  <script src="../vendor/fastclick/lib/fastclick.js"></script>
  <script src="../vendor/jquery.cookie/jquery.cookie.js"></script>
  <script src="../vendor/jquery-placeholder/jquery.placeholder.js"></script>
  <script src="../vendor/foundation/js/foundation.js"></script>
  <script src="../vendor/events-manager/events-manager.min.js"></script>
  <script src="../vendor/moment/moment.js"></script>
  <!-- endbower -->

  <script type="text/javascript">
    (function() {
      //$(document).foundation();
    })();
  </script>

  <script src="/features/common/common.js"></script>
  <script src="/features/posts/posts.js"></script>

</body>
</html>